* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}
:root {
    font-size: 62.5%;
}

.menu{
    padding: 3rem;
    width: 100%;
    position: absolute;
    
    .nav-menu{
        background-color: rgba(0,0,0,0);
        display: flex;
        justify-content: space-between;
    
        #cont-left-nav{
            display: flex;
            justify-content: space-around;
            width: 60%;
            ul{
                align-items: center;
                display: flex;
                gap: 7rem;
                .tlink{
                    color: #fff;
                    text-decoration: none;
                    font-size: 2rem;
                }
            }
        }
        #icons-nav{
            width: 40%;
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: end;
            padding-right: 7rem;
            
        }
    
    }
        
    }
